$pink1: #A6688A;
$pink2: #BF7EA8;
$pink3: #D991C0;
$cream1: #D9BBB0;
$darkCream: #8C655D;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.main {

    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $cream1;


    &__container {

        background-color: $pink2;
        border-radius: 10px;
        height: 43vh;
        width: 30vw;
        margin-bottom: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2vh;
        min-width: 200px;
        min-height: 300px;

        &__email {
            outline: none;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: large;
            border: none;
            border-radius: 5px;
            height: 4vh;
            width: 12vw;
            min-width: 150px;
            min-height: 30px;
        }

        &__password {

            outline: none;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: large;
            border: none;
            border-radius: 5px;
            height: 4vh;
            width: 12vw;
            min-width: 150px;
            min-height: 30px;

        }

        &__btn {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: medium;
            border: none;
            border-radius: 3px;
            height: 4vh;
            min-width: fit-content;
            width: 6vw;
            min-height: 30px;
        }

    }
}